<manager-home-display></manager-home-display>
<h2 class="w3-center w3-text-blue">View All Requests</h2>
            <table class="table table-striped">
                <thead>
                    <tr class="w3-metro-dark-blue">
                        <th>Employee ID</th>
                        <th>Requested by: First Name</th>
                        <th>Requested by: Last Name</th>
                        <th>Reimbursement ID</th>
                        <th>Requested Reimbursement Amount</th>
                        <th>Reimbursement Status</th>
                        <th>Aprroved by: First Name</th>
                        <th>Approved by: Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let requests of currentAllRequests" class="w3-hover-blue">
                        <td>{{ requests.requester.empId }}</td>
                        <td>{{ requests.requester.empFirstName }}</td>
                        <td>{{ requests.requester.empLastName }}</td>
                        <td>{{ requests.reimbId }} </td>
                        <td>{{ requests.reimbAmt }}</td>
                        <td>{{ requests.status.status }}</td>
                        <td>{{ requests.approver.empFirstName }}</td>
                        <td>{{ requests.approver.empLastName }}</td>
                    </tr>
                </tbody>
            </table>
