<manager-home-display></manager-home-display>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h2>All Employees</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>FIRST NAME</td>
                        <td>LAST NAME</td>
                        <td>ROLE</td>
                        <td>VIEW REQUESTS BY THIS EMPLOYEE</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of currentAllEmployees">
                       <td>{{ employee.empId }}</td> 
                       <td>{{ employee.empFirstName | uppercase }}</td> 
                       <td>{{ employee.empLastName | uppercase}}</td> 
                       <td>{{ employee.roles.role }}</td>
                       <td>
                        <button
                            type="button" 
                            class="btn btn-info"
                            (click)="goToViewByRequester(employee.empId)">view
                        </button>
                   </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
